@import "fonts";
@import "header/_styles";

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.v-application {
  font-family: 'Avenir Next', sans-serif;
}

  .v-main {
    background: #3C3F4F;
  }

  .section {
    background: #232532;
    border-radius: 3px;
    padding: 30px 30px 30px 30px;
    &__top-buttons {
      .v-btn {
        font-weight: 600;
        font-size: 16px;
        &.add-button {
          padding: 20px 25px 20px 30px;
          margin-right: 15px;
          &__icon {
            font-size: 20px;
          }
        }
        &.generate-button {
          padding: 20px 22px;
        }
        &.add-button {
          &__icon {
            display: block;
            margin-left: 80px;
          }
        }
        &.eye-button {
          padding: 20px 6px;
          margin-left: 15px;
          //padding: 15px 6px;
          //margin-left: 8px;
          //height: 40px;
          min-width: 40px;
          width: 40px;
          //img {
          //  width: 21px;
          //}
        }
      }
    }
  }

  .sections {
    &__title {
      font-weight: 600;
      font-size: 30px;
      color: #FFFFFF;
      margin-bottom: 20px;
    }
  }

  .items {
    width: 321px;
    max-width: 321px;
    &__title {
      font-weight: 500;
      font-size: 15px;
    }
    &__group {
      background: #3C3F4F;
      border-radius: 3px;
      &.v-list-group {
        &:not(last-child) {
          margin-bottom: 10px;
        }
        .v-icon {
          color: white;
        }
        &:hover {
          background: #FEAC0D;
          .items__icon path {
            stroke-opacity: 1;
          }
        }
      }
      .v-list-item {
        border-radius: 3px;
      }
      .v-list-item__content {
        color: white;
      }
      .v-list-group__header__append-icon {
        display: none;
      }
    }
  }

.container.section__container {
  padding: 12px 0;
  margin-top: 38px;
}

.v-btn__content {
  text-transform: none !important;
}

.table {
  margin-top: 150px;
  padding: 0 15px;
  background: #3C3F4F;
  &.theme--light.v-data-table {
    background: #3C3F4F !important;
  }
  tr,th {
    background: #3C3F4F;
  }
  tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: transparent !important;
  }
  th {
    font-weight: 500;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6) !important;
    border-bottom: 1.5px solid rgba(35, 37, 50, 0.5);
  }
  &__td {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
  }
  &__btn {
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
    padding: 0 !important;
    margin-left: 6px;
    img {
      width: 12px;
    }
  }
}

.icon-btn {
  padding: 0 !important;
  border-radius: 3px;
  margin-right: 5px;
  width: 28px !important;
  height: 28px !important;
  min-width: 28px !important;
  //img {
  //  width: 16px;
  //}
  //&.chevron {
  //  img {
  //    width: 8px;
  //  }
  //}
  &.trash {
    img {
      width: 14px;
    }
  }
  &.chevron {
    img {
      width: 12px;
    }
  }
  &.doc {
    img {
      width: 10px;
    }
  }
  &.gear {
    img {
      width: 15px;
    }
  }
  &.plus {
    img {
      width: 12px;
    }
  }
}

.icons__wrapper {
  position: absolute;
  right: -147px;
  top: 27px;
}

.bg-active {
  background-color: #FEAC0D;
  color: white !important;
  .items__icon path {
    stroke-opacity: 1;
  }
}

.fields {
  background: #3C3F4F;
  border-radius: 3px;
  padding: 10px;
  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 12px;
  }
  &__btn {
    margin-right: 7px;
  }
  &__translation {
    margin-left: 6px;
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
  }
  &__item {
    background: #232532;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 8px;
    cursor: pointer;
    &__value {
      margin-left: 21px;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
    }
    &__translation {
      font-weight: normal;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.6);
      margin-left: 10px;
    }
  }
}

.fields {
  max-width: 1008px;
}

@media (min-width: 1264px) {
  //.container.section__container,.container.header__container {
  //  max-width: 1050px;
  //}
}

@media (min-width: 1904px) {
  .container.section__container,
  .container.header__container {
    max-width: 1608px;
  }
}

@media (max-width: 1903px) {
  .fields {
    max-width: 710px;
  }
  .fields__title {
    font-weight: 600;
    font-size: 18px;
  }
  .section__top-buttons .v-btn {
    font-weight: 600;
    font-size: 14px;
  }
  .sections__title {
    font-size: 28px;
  }
  .fields__item__value {
    margin-left: 11px;
    font-size: 16px;
  }
  .fields__item__translation {
    font-size: 16px;
  }
  .fields__translation {
    font-size: 18px;
  }
}


@media (max-width: 1440px) {
  .user__name {
    margin-right: 10px;
    font-size: 14px;
  }
  .sections__title {
    font-size: 25px;
  }
  .section__top-buttons .v-btn {
    font-weight: 600;
    font-size: 12px;
  }
  .section__top-buttons .v-btn.add-button {
    padding: 15px 20px 15px 25px;
    margin-right: 8px;
  }
  .section__top-buttons .v-btn.generate-button {
    padding: 15px 17px;
  }
  .section__top-buttons .v-btn.eye-button {
    padding: 15px 6px;
    margin-left: 8px;
    //height: 40px;
    min-width: 35px;
    width: 35px;
    img {
      width: 21px;
    }
  }
  .fields__item__value {
    margin-left: 6px;
    font-size: 14px;
  }
  .fields__item__translation {
    font-size: 14px;
    margin-left: 4px;
  }
  .fields__translation {
    font-size: 16px;
  }
  .fields__title {
    font-size: 16px;
  }
  .icon-btn {
    padding: 0 !important;
    border-radius: 3px;
    margin-right: 5px;
    width: 22px !important;
    height: 22px !important;
    min-width: 22px !important;
    img {
      width: 16px;
    }
    &.chevron {
      img {
        //width: 8px;
      }
    }
  }
}

@media (max-width: 1263px) {
  .items {
    margin-bottom: 40px;
  }
  .fields {
    margin: 0 auto;
  }
}

@media (max-width: 1500px) {
  .items {
    max-width: 260px !important;
    .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child {
      margin-right: 9px !important;
    }
  }
  .fields {
    max-width: 720px!important;
  }
  .header__wrap {
    padding: 20px 0px 0 0px !important;
  }
}