.section-settings-menu {
  position: absolute !important;
  z-index: 3000;
  max-width: 311px;
  padding: 15px 20px !important;
  top: 30px;
  left: -30px;
  border-radius: 3px !important;
  &__wrap {
    padding-top: 20px;
  }
  &__title {
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #FFFFFF;
  }
  & .v-list-item {
    min-height: fit-content;
    padding: 0;
    margin-bottom: 10px;
  }
}

.dropdown-wrapper {
  position: relative;
}

.icon-btn__wrapper {
  position: relative;
}

.custom-switch {
  width: 34px;
  &.theme--light.v-input--switch .v-input--switch__track {
    color: #232532;
    opacity: 1;
    width: 34px;
    height: 18px;
    top: calc(50% - 12px);
  }
  &.theme--light.v-input--switch .v-input--switch__thumb {
    color: rgba(255, 255, 255, 0.2);
    width: 15px;
    height: 15px;
  }
  &.v-input--is-label-active.theme--light.v-input--switch .v-input--switch__thumb {
    color: #FEAC0D !important;
  }
  &.v-input--switch--inset.v-input--is-dirty .v-input--switch__thumb {
    transform: translate(12px, 0) !important;
  }
}

.v-input--selection-controls {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
  margin-bottom: 0 !important;
}

.v-application--is-ltr .v-input--selection-controls__input {
  margin-right: 0 !important;
}

.theme--light.v-messages {
  display: none !important;
}

.v-input--selection-controls__ripple {
  margin: 0 !important;
  display: none !important;
}

.history {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
  border-radius: 3px !important;
  padding: 20px 20px 10px 20px !important;
  position: absolute !important;
  right: -50px;
  top: 45px;
  z-index: 3000;
  &__item:not(:last-child) {
    border-bottom: 1.5px solid rgba(35, 37, 50, 0.5);
    padding-bottom: 6px !important;
  }
  &__text {
    font-size: 14px !important;
    color: #FFFFFF;
  }
  &__title {
    font-weight: 600;
  }
  & .v-list-item {
    min-height: fit-content;
    padding: 0;
    margin-bottom: 10px;
  }
}

.custom-radio {
  &__wrapper {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #232532;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__ellipse {
    background-color: white;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
}

.radio-btn-active {

}