//.v-menu__content.v-menu__content--fixed {
//  top: 0 !important;
//  left: 0 !important;
//}

.section-settings-menu {
  position: absolute !important;
  z-index: 30000;
  max-width: 311px;
  padding: 15px 6px 15px 13px !important;
  top: 30px;
  left: -30px;
  border-radius: 3px !important;
  overflow: hidden;
  &__wrap {
    padding-top: 20px;
  }
  &__title {
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #FFFFFF;
  }
  & .v-list-item {
    min-height: fit-content;
    padding: 0;
    margin-bottom: 10px;
  }
}

.dropdown-wrapper {
  position: relative;
}

.icon-btn__wrapper {
  position: relative;
}

.custom-switch {
  width: 34px;
  &.v-input--switch--inset .v-input--selection-controls__ripple,
  .v-application--is-ltr .v-input--switch--inset .v-input--switch__thumb{
    transform: translate(-2px, 0px) !important;
  }
  &.theme--light.v-input--switch .v-input--switch__track {
    color: #232532;
    opacity: 1;
    width: 34px;
    height: 18px;
    top: calc(50% - 12px);
  }
  &.theme--light.v-input--switch .v-input--switch__thumb {
    color: rgba(255, 255, 255, 0.2);
    width: 15px;
    height: 15px;
    transform: translate(-2px, -0.5px) !important;
  }
  &.v-input--is-label-active.theme--light.v-input--switch .v-input--switch__thumb {
    color: #FEAC0D !important;
  }
  &.v-input--switch--inset.v-input--is-dirty .v-input--switch__thumb {
    transform: translate(12px, 0) !important;
  }
}

.v-input--selection-controls {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
  margin-bottom: 0 !important;
}

.v-application--is-ltr .v-input--selection-controls__input {
  margin-right: 0 !important;
}

.theme--light.v-messages {
  display: none !important;
}

.v-input--selection-controls__ripple {
  margin: 0 !important;
  display: none !important;
}

.history {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3);
  border-radius: 3px !important;
  padding: 20px 20px 10px 20px !important;
  position: absolute !important;
  right: -50px;
  top: 45px;
  z-index: 3000;
  &__item:not(:last-child) {
    border-bottom: 1.5px solid rgba(35, 37, 50, 0.5);
    padding-bottom: 6px !important;
  }
  &__text {
    font-size: 14px !important;
    color: #FFFFFF;
  }
  &__title {
    font-weight: 600;
  }
  & .v-list-item {
    min-height: fit-content;
    padding: 0;
    margin-bottom: 10px;
  }
}

.custom-radio {
  &__wrapper {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #232532;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__ellipse {
    background-color: white;
    border-radius: 50%;
    width: 8px;
    height: 8px;
  }
}

.open-main-settings {
  width: 40px !important;
  min-height: 40px !important;
  position: fixed;
  //z-index: 3000;
  img {
    width: 22px;
  }
}

.main-menu {
  position: relative;
  //top: 0;
  //z-index: 4000;
  background-color:#232532;
  min-width: 335px;
  color: white;
  padding: 32px 32px 80px 32px;
  box-shadow: 0px 4px 16px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  overflow: auto !important;
  height: 100vh;
  &__label {
    font-size: 13px;
  }
  .save-btn {
    padding: 0 27px !important;
    font-size: 12px;
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
  }
  .section-settings-menu {
    position: unset !important;
  }
  .v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: white !important;
  }
}

.custom-select {
  &.v-text-field {
    padding-top: 1px !important;
    //margin-top: 0 !important;
  }
  .mdi:before, .mdi-set {
    color: white;
  }
  &.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    display: none !important;
  }
  .v-select__slot {
    background-color: #3C3F4F;
    border-radius: 3px;
    padding: 5px 10px !important;
  }
  .v-select__selection {
    font-size: 13px !important;
    color: white;
  }
  input::placeholder {
    color: rgba(255, 255, 255, 0.4) !important;
    font-weight: 500;
    font-size: 13px;
  }
  .v-text-field {
    padding-top: 0;
    margin-top: 0;
  }
}

.custom-input {
  .v-input__slot {
    margin: 0;
    background-color: #3C3F4F;
    border-radius: 3px;
    padding: 5px 10px !important;
  }
  .v-select__selection {
    font-size: 13px !important;
    color: white;
  }
  input::placeholder {
    color: rgba(255, 255, 255, 0.4) !important;
    font-weight: 500;
    font-size: 13px;
  }
}

.v-list-item__title {
  font-size: 13px !important;
}

.custom-file-input {
  cursor: pointer;
  &.v-file-input .v-file-input__text--placeholder {
    color: white;
    font-size: 12px;
  }
  .v-input__slot {
    background: #3C3F4F;
    border-radius: 3px;
    width: fit-content;
    margin: 0;
  }
  .v-file-input__text {
    justify-content: center;
  }
  .v-file-input__text--placeholder {
    color: white;
  }
  &.v-file-input .v-text-field__slot {
    min-height: fit-content;
    padding: 6px 10px;
    cursor: pointer;
  }
  &.v-input {
    flex-grow: unset !important;
  }
}

.no-files-chosen {
  font-weight: 500;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
}

.main-menu__tabs {
  &__input {
    input::placeholder {
      color: rgba(255, 255, 255, 0.4) !important;
      font-weight: 500;
      font-size: 13px;
    }
    &.v-text-field input {
      padding: 8px 8px 30px 8px;
    }
    &.v-text-field > .v-input__control > .v-input__slot:before {
      border-color: #3C3F4F !important;
    }
  }
  &__btn {
    min-width: 32px !important;
    width: 32px !important;
    height: 28px !important;
    min-height: 28px !important;
    margin-bottom: 24px;
  }
  .custom-select {
    //background-color: #007bff;
    .v-input__slot {
      margin-bottom: 0;
    }
    .v-text-field__details {
      display: none;
    }
  }
}

.main-menu__tab {
  background: #3C3F4F;
  border-radius: 3px;
  padding: 13px 10px;
  display: flex;
  flex: 1 1 auto;
  &__title {
    color: white;
    font-size: 13px;
  }
}